.clang
.codelite/
_codelite.project
__codelite.workspace
~$*.docx
.project
*.o
*.bin
*.elf
*.ld
*.map
*.hex
*.lss
*.lst
*.exe
_run.bat
_cc_flags
_cpp_flags
_linker_flags
_linker_libs
_dummy.jpg
bmptk_*_stack.c
